- return unless merge_pipelines_available?

.form-check.builds-feature
  = form.check_box :merge_pipelines_enabled, class: 'form-check-input js-merge-options-merge-pipelines'
  = form.label :merge_pipelines_enabled, class: 'form-check-label' do
    = s_('ProjectSettings|Merge pipelines will try to validate the post-merge result prior to merging')
    .descr.text-secondary.mb-2
      = s_('ProjectSettings|Pipelines need to be configured to enable this feature.')
      = link_to icon('question-circle'),
        help_page_path('ci/merge_request_pipelines/index.md',
        anchor: 'pipelines-for-merge-requests'),
        target: '_blank'
    - if merge_trains_available?
      .form-check.mb-2
        = form.check_box :merge_trains_enabled, class: 'form-check-input js-merge-options-merge-trains'
        = form.label :merge_trains_enabled, class: 'form-check-label' do
          = s_('ProjectSettings|Allow merge trains')
